<div class="bg-cover-all-on-mobile">
    <p class="mx-auto font-sans uppercase">Pop up Palladium site isn’t ready for your device</p>
    <p class="mx-auto font-sans uppercase">Pop back later or try a bigger screen</p>
</div>