$primary-color: #AD0B1E;
$primary-color-light: #F33F54;
$primary-color-dark: #640000;

$secondary-color: #FFB01F;
$secondary-color-light: #FFE258;
$secondary-color-dark: #C78100;

.bg-primary-color { background-color:  #AD0B1E;}
.bg-primary-color-light { background-color:  #F33F54;}
.bg-primary-color-dark { background-color:  #640000;}

.bg-secondary-color { background-color:  #FFB01F;}
.bg-secondary-color-light { background-color:  #FFE258;}
.bg-secondary-color-dark { background-color:  #C78100;}