
//==========  Typography ==========//

// headings
h1, h2, h3 {
    @apply font-bold leading-tight mb-6 ;
}

header h1 {
	margin-bottom: 0px;
	line-height: 1;
}


.page-title {
	@apply text-5xl;
	text-transform: uppercase;
	color: white;
}

// content
.content {

	// paragraph
	p {
		@apply mb-8;

        // intro paragraph
		//&:first-child {
			//@apply border-b border-gray-200 text-2xl pb-10 mb-10 font-light leading-snug text-gray-600;

			//@screen md {
            //    @apply text-3xl;
            //}
		//}
    }
}


.content p {
	color: white;
	line-height: 1.6;
}

.content h2 {
	color: white;
	font-family: $sans-serif-bold;
	font-size: 22px;
	text-transform: uppercase;
}

.header__line-up {

}

time {
	text-transform: uppercase;
  	color: white;
	margin: 0 auto;
	font-size: 30px;
}