
//==========  Buttons ==========//

.btn-cta {
  padding: 09px 65px 08px 65px;
  border: $secondary-color 4px solid;
  border-radius: 999px;
  font-family: $sans-serif-bold;
  color: $secondary-color;
  font-size: 12pt;
  letter-spacing: 2pt;
  text-transform: uppercase;
  background-color: $primary-color ;
}

.btn-cta:hover {
  background-color: FFB01F;
  color: AD0B1E;
}

.btn-cta--header {
  margin: 30px auto 0 auto;
  max-width: 400px;
}