//https://css-tricks.com/a-grid-of-logos-in-squares/

.sponsor-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
}

// make square
.sponsor-grid > div {
    background: black;
    padding: 1rem;
}

.sponsor-grid > div::before {
    content: "";
    padding-bottom: 100%;
    display: block;
}

// place grid in grid
.sponsor-grid > div {
    /* ... */
    display: grid;
}
.sponsor-grid > div::before,
.sponsor-grid > div > img {
    grid-area: 1 / 1 / 2 / 2;
}

//fit the images
.sponsor-grid > div > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}