---
layout: default
meta_title: About
meta_description: About page description
body_class: about
title: About
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <article id="container-centre" class="column centre flex-1">

        <header>
            <h1 class="page-title">{{ title }}</h1>
        </header>

        <div class="content">
            <h2>Emily Morus-Jones</h2>
            <img src="/images/people/emily_morus-jones.jpg">
            <p>Emily Morus-Jones is a Welsh Puppeteer and Puppet maker for film, TV, theatre and live events.</p>
            <p>She trained as a TV puppeteer with the Sesame Workshop on the Sesame Workshop and BBC production The Furchester Hotel.  She has also completed training at The Curious School Of Puppetry.</p>
            <p>She has performed with puppets for high profile clients in the music industry that include Ed Sheeran, Calvin Harris & Dua Lipa, The Brit Awards, Rag'nBone Man and Jam Baxter.</p>
            <p>Emily has worked on shows for CBBC and ITV.  She has also performed on short films and commercials including The Dogs' Trust Christmas campaign of 2019 which was voted the best christmas campaign of the year by The Drum.</p>
            <p>Additionally she has built puppets for The Handspring Puppet Company, KneeHigh Theatre, Nick Barnes Puppets, John Lewis and the band Iron Maiden.</p>
            <h2>The Pop-Up Palladium</h2>
            <p>The Pop-Up Palladium is a live streamed virtual puppet theatre.  Our unique line-up of acts will whisk you away from the doom and gloom of Covid-19 on a magical mystery tour of nostalgic laughter and a trip into the otherworldly.</p>
            <p>With theatres being left out in the cold by lockdown easing, and the future looking very bleak for puppeteers who usually work in close proximity, the Pop-Up Palladium lets you enjoy the hilarity and beauty of puppetry from the comfort of your own home.</p>
            <p>The money we raise will be split between the puppeteers performing – we don’t want people who have seen all their income evaporate to perform for free.  A portion will be given to charity as well so that we can use this new and exciting platform to support artists and important charities through these challenging times of isolation and fear.</p>
            <p>The Pop-Up Palladium has been funded by The Arts Council Wales in addition to being sponsored by The Curious School Of Puppetry and Talk To The Hand Puppets.</p>
            <img src>
            <h2>Supporting Puppeteers</h2>
            <p>Covid-19 has had a devastating effect of the Arts across the board and puppeteers are no exception although often forgotten about.  Inspired by the example set by comedians moving into online gigs in response to the crisis the Pop-Up Palladium was conceived as a way to help puppeteers across the whole spectrum of puppetry to keep their heads above water.</p>
            <p><q>My hope is that this night will go some way to keeping struggling performers afloat, give them a bit of hope for the future, and help audiences to discover what a wonderful and broad church the world of puppetry really is.</q><span>Emily Morus-Jones</span></p>
        </div>

    </article>

</main>
