---
layout: default
meta_title: Contact
meta_description: Contact page description
body_class: contact
title: Contact Us
---

<main id="main" class=" bg-image bg-effect--blk-transparency text-white main inner flex flex-1 flex-colg focus:outline-none " tabindex="-1">

    <article id="container-centre" class="column centre flex-1">

        <header>
            <h1 class="page-title">{{ title }}</h1>
        </header>

        <div class="content">

            <span class="mb-10 text-white font-sans uppercase">Contact us in the form below and we‘ll get back to you as soon as we can</span>

             <form class="form" name="contact" method="POST" data-netlify="true">

{#                #}{# this form doesn't work - it's just a nice boilerplate to get you up and running #}
{#                #}{# uses HTML5 validation #}

{#                #}{# if you add a class of 'required' to the row, you'll see the label will change to (required) #}
{#                #}{# opinionated form UX - but it's nice and quick to see at glance what fields are required/optional #}
                <div class="row required uppercase ">
                    <label for="name uppercase">Name</label>
                    <input class="input text-black font-serif" id="name" type="text" name="name" autocomplete="name" required>
                </div>

                <div class="row required uppercase">
                    <label for="email uppercase text-white">Email</label>
                    <input class="input text-black font-serif" id="email" type="text" name="email" autocapitalize="off" autocomplete="email" required>
                </div>

                <div class="row uppercase">
                    <label for="phone uppercase text-white">Phone</label>
                    <input class="input text-black font-serif" id="phone" type="text" name="phone" autocomplete="tel" required>
                </div>

{#                #}{# this field label will show as (optional) as the required class has been left off #}
                <div class="row">
                    <label for="message uppercase text-white">Message</label>
                    <textarea class="textarea text-black font-serif" id="message" name="message"></textarea>
                </div>
{#             #}
                <div class="row uppercase text-white">
                    <button class="inline-block btn-cta hover:text-red-500 active:text-red-500 active:bg-red-500 mb-10" type="submit">Send message!</button>
                </div>

            </form>


{#            <form name="contact" method="POST" data-netlify="true">#}
{#                <div class="row required">#}
{#                <p>#}
{#                    <label> Name: <input type="text" name="name" /></label>#}
{#                </p>#}
{#                </div>#}
{#                <div class="row required">#}
{#                <p>#}
{#                    <label>Your Email: <input type="email" name="email" /></label>#}
{#                </p>#}
{#                </div>#}
{#                <div class="row required">#}
{#                <p>#}
{#                    <label>Message: <textarea name="message"></textarea></label>#}
{#                </p>#}
{#                </div>#}
{#                <div class="row required">#}
{#                <p>#}
{#                    <button class="btn-cta float-right" type="submit">Send</button>#}
{#                </p>#}
{#                </div>#}
{#            </form>#}




    </article>

    {# an optional and basic local business schema example #}
    {# <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "LocalBusiness",
        "name": "{{ site.name }}",
        "image": "{{ site.url }}{{ site.images.logo }}",
        "url": "{{ site.url }}{{ page.url }}",
        "email": "{{ site.contact.email }}",
        "telephone": "{{ site.contact.phone }}",
        "priceRange": "£",
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "{{ site.address.street }}",
            "addressLocality": "{{ site.address.city }}",
            "postalCode": "{{ site.address.postcode }}",
            "addressCountry": "{{ site.address.country }}"
        },
        "sameAs": [
            "{{ site.social_links.twitter }}",
            "{{ site.social_links.facebook }}",
            "{{ site.social_links.instagram }}"
        ]
    }
    </script> #}

</main>

