---
layout: default
meta_title: FAQs
meta_description: The Pop-up Palladium is a not for profit
body_class: home
title: FAQ's
---

<div class="bg-image bg-effect--blk-transparency text-white items-start">
    <article class="content mb-20">
    <ul class="">

        {% for faq in faqs.qna %}

        <li>
            <span class="font-sans__bold uppercase">{{ faq.question }}</span>
            <p>{{ faq.answer }}</p>
        </li>

        {% endfor %}

        </ul>
    </article>
</div>