<button class="snipcart-add-item btn-cta"
        data-item-id="Line up 01"
        data-item-price="10.00"
        data-item-url="/events/line-up-01"
        data-item-description="With Puppets with Guts, The puppet barge, Zippy & Ronny Le Drew, Sarah Wright"
        data-item-image="/images/events/01-zippy-n-ronnie-le-drew.png"
        data-item-name="Line up 01 with date">
    Add to cart
</button>